.present{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/image1.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.hero{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
}
h1{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    padding-left: 190px;
    margin-top: 175px;
}
p{
    color: white;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    opacity: 0.7;
}
.button{
    margin-top: 30px;
    margin-left: 440px;
}
.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-one{
    background-color: #0BE700;
    font-family: "Roboto", sans-serif;
}
.btn-one:hover{
    background: #0A9203;
    transition: all 0.7s;
    color: white;
}
.btn-two{
    font-family: "Roboto", sans-serif;
}
.btn-two:hover{
    background-color: #0A9203;
    transition: all 0.7s;
    color: white;
}
@media screen and (max-width: 900px){
    h1{
        font-size: 50px;
        padding-left: 90px;
    }
}